* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3 {
  font-size: 3.125rem;
  color: black;
  font-weight: bold; }

h2 {
  font-size: 2.1875rem;
  text-align: center;
  padding: 30px; }

h3 {
  font-size: 1.875rem;
  text-align: center;
  padding: 15px 15px 15px 0px; }

.grid-container-planes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px 450px 400px 700px 250px;
  justify-content: none;
  align-content: none;
  grid-template-areas: "header header header " "presentacion-planes presentacion-planes presentacion-planes" "intro-planes intro-planes img-planes" "detalle-planes detalle-planes  detalle-planes " "footer footer footer "; }

.grid-container-index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px 450px 400px 700px 250px;
  justify-content: none;
  align-content: none;
  grid-template-areas: "header header header " "presentacion presentacion presentacion" "contenedor-servicios contenedor-servicios contenedor-servicios" "contenedor-adopciones contenedor-adopciones  contenedor-adopciones" "footer footer footer "; }
  .grid-container-index main .presentacion {
    background-image: url("../../assets/cocker.jpg");
    grid-area: presentacion;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: none; }

header {
  grid-area: header; }
  header .navbar {
    background-color: #9FBB73;
    display: flex;
    align-items: center; }
    header .navbar .logo-nav img {
      width: 90px;
      margin-left: 20px; }
    header .navbar .pow {
      display: flex;
      font-size: 2.1875rem;
      font-weight: bold;
      color: white;
      padding: 30px 250px 30px 0px; }
    header .navbar ul {
      display: flex;
      gap: 5.625rem;
      margin: 1.25rem 0px;
      padding-right: 60px;
      list-style: none; }
      header .navbar ul li a {
        text-decoration: none;
        color: black;
        font-size: 1.5625rem;
        font-weight: bold; }
        header .navbar ul li a:hover {
          color: white; }

footer {
  background-color: #F3B664;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: none; }
  footer .brand-footer {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: center;
    gap: none; }
    footer .brand-footer .logo-footer {
      width: 120px; }
    footer .brand-footer .pow {
      padding: 0px;
      margin: 0px; }
    footer .brand-footer div .info-contacto {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      gap: none; }
      footer .brand-footer div .info-contacto .item-info {
        width: 25px;
        height: 25px; }
      footer .brand-footer div .info-contacto .info {
        font-size: 20px;
        font-weight: bold;
        padding-top: 15px;
        padding-left: 10px; }
    footer .brand-footer .bloque-redes {
      justify-content: center;
      align-items: center; }
      footer .brand-footer .bloque-redes .seguinos {
        text-align: center;
        font-size: 30px;
        color: white; }
      footer .brand-footer .bloque-redes .redes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: none;
        justify-items: center; }
        footer .brand-footer .bloque-redes .redes div .item-redes {
          width: 50px;
          height: 50px; }
