* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3 {
  font-size: 3.125rem;
  color: black;
  font-weight: bold; }

h2 {
  font-size: 2.1875rem;
  text-align: center;
  padding: 30px; }

h3 {
  font-size: 1.875rem;
  text-align: center;
  padding: 15px; }

.card-text {
  font-weight: bold; }

.parrafo-nosotros {
  font-size: 25px;
  text-align: left;
  padding: 40px;
  line-height: 40px; }

body {
  font-family: 'Exo 2', sans-serif;
  width: 100%; }

.grid-container-servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px 450px 400px 700px 250px;
  justify-content: none;
  align-content: none;
  grid-template-areas: "header header header " "presentacion-servicios presentacion-servicios presentacion-servicios" "intro-servicios intro-servicios img-servicios" "detalle-servicios detalle-servicios  detalle-servicios " "footer footer footer "; }
  .grid-container-servicios .presentacion-servicios {
    background-image: url("./../assets/dog-grass-sky.jpg");
    grid-area: presentacion-servicios;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: none; }
    .grid-container-servicios .presentacion-servicios .textos-presentacion {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      gap: none;
      margin-right: 80px; }
  .grid-container-servicios .intro-servicios {
    background-color: #F4DFB6;
    grid-area: intro-servicios;
    align-items: center;
    justify-items: center; }
  .grid-container-servicios .img-servicios {
    width: 100%;
    height: 100%;
    grid-area: img-servicios; }
    .grid-container-servicios .img-servicios img {
      width: 100%;
      height: 100%; }
  .grid-container-servicios .detalle-servicios {
    background-color: #EC8F5E;
    grid-area: detalle-servicios;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly; }
    .grid-container-servicios .detalle-servicios .card {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 320px; }
      .grid-container-servicios .detalle-servicios .card .card-body {
        text-align: center;
        background-color: #F4DFB6; }

.grid-container-planes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px 450px 400px 650px 250px;
  justify-content: none;
  align-content: none;
  grid-template-areas: "header header header " "presentacion-planes presentacion-planes presentacion-planes" "intro-planes intro-planes img-planes" "detalle-planes detalle-planes  detalle-planes " "footer footer footer "; }
  .grid-container-planes .presentacion-planes {
    background-image: url("./../assets/peluqueria.jpg");
    grid-area: presentacion-planes;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: none; }
    .grid-container-planes .presentacion-planes .textos-presentacion {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      gap: none;
      margin-right: 80px; }
  .grid-container-planes .intro-planes {
    background-color: #F4DFB6;
    grid-area: intro-planes; }
  .grid-container-planes .img-planes {
    width: 100%;
    height: 100%;
    grid-area: img-planes; }
  .grid-container-planes .detalle-planes {
    background-color: #EC8F5E;
    grid-area: detalle-planes;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: none;
    gap: none; }
    .grid-container-planes .detalle-planes .card {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 288px; }
      .grid-container-planes .detalle-planes .card .card-body {
        text-align: center;
        background-color: #F4DFB6; }
        .grid-container-planes .detalle-planes .card .card-body div .img-star {
          width: 40px;
          height: 40px; }

.grid-container-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 110px 450px 600px 450px 250px;
  justify-content: none;
  align-content: none;
  grid-template-areas: "header header header" "presentacion presentacion presentacion" "contenedor-servicios contenedor-servicios contenedor-servicios" "contenedor-adopciones contenedor-adopciones  contenedor-adopciones" "footer footer footer"; }
  .grid-container-index .presentacion {
    grid-area: presentacion;
    background-image: url("./../assets/cocker.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: none; }
    .grid-container-index .presentacion .textos-presentacion {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 80px; }
      .grid-container-index .presentacion .textos-presentacion .parrafo-presentacion {
        font-size: 1.875rem; }
  .grid-container-index .contenedor-servicios {
    grid-area: contenedor-servicios;
    background-color: #F3B664; }
  .grid-container-index .contenedor-adopciones {
    grid-area: contenedor-adopciones;
    background-color: #F4DFB6; }
    .grid-container-index .contenedor-adopciones .items-adopcion {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: none; }
      .grid-container-index .contenedor-adopciones .items-adopcion .item .en-adopcion {
        width: 15.625rem;
        height: 15.625rem;
        border-radius: 150px; }

.grid-container-nosotros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px 450px 450px 500px 250px;
  justify-content: none;
  align-content: none;
  grid-template-areas: "header header header " "presentacion-nosotros presentacion-nosotros presentacion-nosotros" "contenedor-compromiso contenedor-compromiso contenedor-compromiso" "contenedor-equipo contenedor-equipo  contenedor-equipo " "footer footer footer "; }
  .grid-container-nosotros .presentacion-nosotros {
    background-image: url("./../assets/gatitos.jpg");
    grid-area: presentacion-nosotros;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: none; }
    .grid-container-nosotros .presentacion-nosotros .textos-presentacion {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      gap: none;
      margin-right: 80px; }
  .grid-container-nosotros .contenedor-compromiso {
    grid-area: contenedor-compromiso;
    background-color: #F1EB90; }
    .grid-container-nosotros .contenedor-compromiso .compromiso {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .grid-container-nosotros .contenedor-compromiso .compromiso .quality {
        width: 300px;
        height: 300px;
        padding: 30px; }
  .grid-container-nosotros .contenedor-equipo {
    background-color: #EC8F5E;
    grid-area: contenedor-equipo;
    display: flex;
    flex-direction: column; }
    .grid-container-nosotros .contenedor-equipo .titulo-equipo {
      font-size: 30px;
      text-align: left;
      padding-left: 20px;
      padding-top: 30px; }
    .grid-container-nosotros .contenedor-equipo .compromiso {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .grid-container-nosotros .contenedor-equipo .compromiso .foto-equipo {
        width: 400px;
        height: 400px;
        padding-right: 30px;
        padding-bottom: 20px; }

header {
  grid-area: header; }
  header .navbar {
    background-color: #54b85d;
    display: flex;
    align-items: center; }
    header .navbar .logo-nav img {
      width: 90px;
      margin-left: 20px; }
    header .navbar .pow {
      display: flex;
      font-size: 2.1875rem;
      font-weight: bold;
      color: white;
      padding: 30px 250px 30px 0px; }
    header .navbar ul {
      display: flex;
      gap: 5.625rem;
      margin: 1.25rem 0px;
      padding-right: 60px;
      list-style: none; }
      header .navbar ul li a {
        text-decoration: none;
        color: black;
        font-size: 1.5625rem;
        font-weight: bold; }
        header .navbar ul li a:hover {
          color: white; }

footer {
  grid-area: footer;
  background-color: #F3B664;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: none; }
  footer .brand-footer {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: center;
    gap: none; }
    footer .brand-footer .logo-footer {
      width: 120px; }
    footer .brand-footer .pow {
      display: flex;
      font-size: 2.1875rem;
      font-weight: bold;
      color: white;
      padding: 0px;
      margin: 0px; }
  footer .bloque-info-contacto .info-contacto {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: none; }
    footer .bloque-info-contacto .info-contacto .info {
      font-size: 20px;
      font-weight: bold;
      padding-top: 15px;
      padding-left: 10px; }
    footer .bloque-info-contacto .info-contacto .item-info {
      width: 25px;
      height: 25px; }
  footer .bloque-redes {
    justify-content: center;
    align-items: center; }
    footer .bloque-redes .seguinos {
      text-align: center;
      font-size: 30px;
      color: white; }
    footer .bloque-redes .redes {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: none;
      justify-items: center; }
      footer .bloque-redes .redes .item-redes {
        width: 50px;
        height: 50px; }

.contenedor-servicios .contenedor-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  gap: none; }
  .contenedor-servicios .contenedor-cards .card {
    width: 350px;
    height: 425px;
    background-color: #F4DFB6;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.278);
    border-radius: 1.25rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    gap: none; }
    .contenedor-servicios .contenedor-cards .card .img-card {
      width: 300px;
      padding: 5px 0px 35px 0px; }

.btn-adopciones {
  border-radius: 1.25rem;
  width: 120px;
  height: 50px;
  background-color: #F3B664;
  display: inline; }
  .btn-adopciones a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold; }

.btn-servicios {
  border-radius: 1.25rem;
  width: 120px;
  height: 50px;
  background-color: #F3B664; }
  .btn-servicios a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold; }
