* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3 {
  font-size: 3.125rem;
  color: black;
  font-weight: bold; }

h2 {
  font-size: 2.1875rem;
  text-align: center;
  padding: 30px; }

h3 {
  font-size: 1.875rem;
  text-align: center;
  padding: 10px; }

.parrafo-nosotros {
  font-size: 25px;
  text-align: left;
  padding: 40px;
  line-height: 40px; }

body {
  font-family: 'Exo 2', sans-serif;
  width: 100%; }

.grid-container-servicios {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px 450px 400px 700px 250px;
  justify-content: none;
  align-content: none;
  grid-template-areas: "header header header " "presentacion-servicios presentacion-servicios presentacion-servicios" "intro-servicios intro-servicios img-servicios" "detalle-servicios detalle-servicios  detalle-servicios " "footer footer footer "; }
  .grid-container-servicios .presentacion-servicios {
    background-image: url("./../assets/dog-grass-sky.jpg");
    grid-area: presentacion-servicios;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: none; }
    .grid-container-servicios .presentacion-servicios .textos-presentacion {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      gap: none;
      margin-right: 80px; }
  .grid-container-servicios .intro-servicios {
    background-color: #F4DFB6;
    grid-area: intro-servicios;
    align-items: center;
    justify-items: center; }
  .grid-container-servicios .img-servicios {
    width: 100%;
    height: 100%;
    grid-area: img-servicios; }
    .grid-container-servicios .img-servicios img {
      width: 100%;
      height: 100%; }
  .grid-container-servicios .detalle-servicios {
    background-color: #EC8F5E;
    grid-area: detalle-servicios;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly; }
    .grid-container-servicios .detalle-servicios .card {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 320px; }
      .grid-container-servicios .detalle-servicios .card .card-body {
        text-align: center;
        background-color: #F4DFB6; }

.grid-container-planes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px 450px 400px auto 250px;
  justify-content: none;
  align-content: none;
  grid-template-areas: "header header header " "presentacion-planes presentacion-planes presentacion-planes" "intro-planes intro-planes img-planes" "detalle-planes detalle-planes  detalle-planes " "footer footer footer "; }
  .grid-container-planes .presentacion-planes {
    background-image: url("./../assets/peluqueria.jpg");
    grid-area: presentacion-planes;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: none; }
    .grid-container-planes .presentacion-planes .textos-presentacion {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      gap: none;
      margin-right: 80px; }
  .grid-container-planes .intro-planes {
    background-color: #F4DFB6;
    grid-area: intro-planes; }
  .grid-container-planes .img-planes {
    width: 100%;
    height: 100%;
    grid-area: img-planes; }
  .grid-container-planes .detalle-planes {
    background-color: #EC8F5E;
    grid-area: detalle-planes;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: none;
    gap: none; }
    .grid-container-planes .detalle-planes .card {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 288px; }
      .grid-container-planes .detalle-planes .card .card-body {
        text-align: center;
        background-color: #F4DFB6; }
        .grid-container-planes .detalle-planes .card .card-body .card-text {
          font-weight: bold;
          padding: 1.5625rem;
          font-size: 1.25rem; }
        .grid-container-planes .detalle-planes .card .card-body div .img-star {
          width: 40px;
          height: 40px; }

.grid-container-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 90px 450px 600px 450px 250px;
  justify-content: none;
  align-content: none;
  grid-template-areas: "header header header" "presentacion presentacion presentacion" "contenedor-servicios contenedor-servicios contenedor-servicios" "contenedor-adopciones contenedor-adopciones  contenedor-adopciones" "footer footer footer"; }
  .grid-container-index .presentacion {
    grid-area: presentacion;
    background-image: url("./../assets/cocker.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: none; }
    .grid-container-index .presentacion .textos-presentacion {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 80px; }
      .grid-container-index .presentacion .textos-presentacion .parrafo-presentacion {
        font-size: 1.875rem; }
  .grid-container-index .contenedor-servicios {
    grid-area: contenedor-servicios;
    background-color: #F3B664; }
    .grid-container-index .contenedor-servicios .contenedor-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: none;
      gap: none; }
      .grid-container-index .contenedor-servicios .contenedor-cards .card {
        width: 350px;
        height: 400px;
        background-color: #F4DFB6;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.278);
        border-radius: 1.25rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: none;
        align-items: center;
        gap: none; }
        .grid-container-index .contenedor-servicios .contenedor-cards .card .img-card {
          width: 300px;
          padding: 5px 0px 35px 0px; }
  .grid-container-index .contenedor-adopciones {
    grid-area: contenedor-adopciones;
    background-color: #F4DFB6; }
    .grid-container-index .contenedor-adopciones .items-adopcion {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: none; }
      .grid-container-index .contenedor-adopciones .items-adopcion .item .en-adopcion {
        width: 15.625rem;
        height: 15.625rem;
        border-radius: 150px; }

.grid-container-nosotros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px 450px 450px 500px 250px;
  justify-content: none;
  align-content: none;
  grid-template-areas: "header header header " "presentacion-nosotros presentacion-nosotros presentacion-nosotros" "contenedor-compromiso contenedor-compromiso contenedor-compromiso" "contenedor-equipo contenedor-equipo  contenedor-equipo " "footer footer footer "; }
  .grid-container-nosotros .presentacion-nosotros {
    background-image: url("./../assets/gatitos.jpg");
    grid-area: presentacion-nosotros;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: none; }
    .grid-container-nosotros .presentacion-nosotros .textos-presentacion {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      gap: none;
      margin-right: 80px; }
  .grid-container-nosotros .contenedor-compromiso {
    grid-area: contenedor-compromiso;
    background-color: #F1EB90; }
    .grid-container-nosotros .contenedor-compromiso .compromiso {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .grid-container-nosotros .contenedor-compromiso .compromiso .quality {
        width: 300px;
        height: 300px;
        padding: 30px; }
  .grid-container-nosotros .contenedor-equipo {
    background-color: #EC8F5E;
    grid-area: contenedor-equipo;
    display: flex;
    flex-direction: column; }
    .grid-container-nosotros .contenedor-equipo .titulo-equipo {
      font-size: 30px;
      text-align: left;
      padding-left: 20px;
      padding-top: 30px; }
    .grid-container-nosotros .contenedor-equipo .compromiso {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .grid-container-nosotros .contenedor-equipo .compromiso .foto-equipo {
        width: 400px;
        height: 400px;
        padding-right: 30px;
        padding-bottom: 20px; }

.grid-container-adopciones {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px 500px 1150px 250px;
  justify-content: none;
  align-content: none;
  grid-template-areas: "header header header " "presentacion-adopciones presentacion-adopciones presentacion-adopciones" "adopciones-ofrecidas adopciones-ofrecidas adopciones-ofrecidas" "footer footer footer "; }
  .grid-container-adopciones .presentacion-adopciones {
    background-image: url("./../assets/pets-group.jpg");
    grid-area: presentacion-adopciones;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: none; }
    .grid-container-adopciones .presentacion-adopciones .textos-presentacion {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      gap: none;
      margin-right: 80px; }
  .grid-container-adopciones .adopciones-ofrecidas {
    width: 100%;
    grid-area: adopciones-ofrecidas;
    background-color: #F1EB90; }
    .grid-container-adopciones .adopciones-ofrecidas .grid-galeria-adopciones {
      background-color: #F1EB90;
      padding: 30px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 15%);
      grid-template-rows: repeat(3, 300px);
      grid-template-areas: "img-4 img-4 img-6 img-6" "img-7 img-7 img-3 img-3" "img-7 img-7 img-1 img-1";
      align-content: center;
      justify-content: center;
      gap: 20px; }
      .grid-container-adopciones .adopciones-ofrecidas .grid-galeria-adopciones .imagen-galeria {
        width: 100%;
        height: 100%; }
      .grid-container-adopciones .adopciones-ofrecidas .grid-galeria-adopciones .imagen-galeria img {
        width: 100%;
        height: 100%; }
      .grid-container-adopciones .adopciones-ofrecidas .grid-galeria-adopciones .img-1 {
        grid-area: img-1; }
      .grid-container-adopciones .adopciones-ofrecidas .grid-galeria-adopciones .img-3 {
        grid-area: img-3; }
      .grid-container-adopciones .adopciones-ofrecidas .grid-galeria-adopciones .img-4 {
        grid-area: img-4; }
      .grid-container-adopciones .adopciones-ofrecidas .grid-galeria-adopciones .img-6 {
        grid-area: img-6; }
      .grid-container-adopciones .adopciones-ofrecidas .grid-galeria-adopciones .img-7 {
        grid-area: img-7; }

header {
  grid-area: header; }
  header .navbar {
    background-color: #54b85d;
    display: flex;
    align-items: center; }
    header .navbar .logo-nav img {
      width: 90px;
      margin-left: 50px; }
    header .navbar .pow {
      font-size: 35px;
      font-weight: bold;
      color: white; }
    header .navbar ul {
      display: flex;
      gap: 5rem;
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
      margin-right: 70px;
      margin-left: 180px;
      list-style: none; }
      header .navbar ul li a {
        text-decoration: none;
        color: black;
        font-size: 1.5625rem;
        font-weight: bold; }
        header .navbar ul li a:hover {
          color: white; }

footer {
  grid-area: footer;
  background-color: #F3B664;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: none; }
  footer .brand-footer {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: center;
    gap: none; }
    footer .brand-footer .logo-footer {
      width: 120px; }
    footer .brand-footer .pow {
      display: flex;
      font-size: 2.1875rem;
      font-weight: bold;
      color: white;
      padding: 0px;
      margin: 0px; }
  footer .bloque-info-contacto .info-contacto {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: none; }
    footer .bloque-info-contacto .info-contacto .info {
      font-size: 20px;
      font-weight: bold;
      padding-top: 15px;
      padding-left: 10px; }
    footer .bloque-info-contacto .info-contacto .item-info {
      width: 25px;
      height: 25px; }
  footer .bloque-redes {
    justify-content: center;
    align-items: center; }
    footer .bloque-redes .seguinos {
      text-align: center;
      font-size: 30px;
      color: white; }
    footer .bloque-redes .redes {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: none;
      justify-items: center; }
      footer .bloque-redes .redes .item-redes {
        width: 50px;
        height: 50px; }

.btn-adopciones {
  border-radius: 1.25rem;
  width: 120px;
  height: 50px;
  background-color: #F3B664;
  display: inline; }
  .btn-adopciones a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold; }

.btn-servicios {
  border-radius: 1.25rem;
  width: 120px;
  height: 50px;
  background-color: #F3B664; }
  .btn-servicios a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold; }

@media (max-width: 1024px) {
  header .navbar .logo-nav img {
    margin-left: 40px; }
  header .navbar .pow {
    font-size: 30px; }
  header .navbar ul {
    gap: 2.5rem;
    padding-right: 30px;
    margin-left: 60px; }
  .parrafo-nosotros {
    font-size: 20px;
    text-align: left;
    padding: 0px 30px 25px 35px;
    line-height: 40px; }
  .grid-container-index .contenedor-servicios .contenedor-cards {
    padding-left: .9375rem;
    padding-right: .9375rem;
    padding-bottom: .9375rem; }
    .grid-container-index .contenedor-servicios .contenedor-cards .card {
      width: 310px;
      height: 400px; }
      .grid-container-index .contenedor-servicios .contenedor-cards .card .img-card {
        width: 280px;
        padding: 5px 0px 35px 0px; }
  .grid-container-planes .detalle-planes .card {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 230px; }
    .grid-container-planes .detalle-planes .card .card-body .card-text {
      padding: 15px;
      font-size: 1.25rem;
      font-weight: bold; } }

@media (max-width: 768px) {
  .grid-container-servicios {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 70px 290px 250px 560px  180px;
    grid-template-areas: "header header header " "presentacion-servicios presentacion-servicios presentacion-servicios" "intro-servicios intro-servicios img-servicios" "detalle-servicios detalle-servicios  detalle-servicios " "footer footer footer "; }
  .grid-container-index {
    grid-template-rows: 90px 350px 500px 300px 250px; }
    .grid-container-index .contenedor-servicios .contenedor-cards {
      padding-bottom: 5px; }
      .grid-container-index .contenedor-servicios .contenedor-cards .card {
        width: 220px;
        height: 350px; }
        .grid-container-index .contenedor-servicios .contenedor-cards .card .img-card {
          width: 200px;
          padding: 5px 0px 35px 0px; }
    .grid-container-index .contenedor-adopciones .items-adopcion .item .en-adopcion {
      width: 9.375rem;
      height: 9.375rem;
      border-radius: 150px; }
    .grid-container-index .contenedor-adopciones .items-adopcion .item .btn-ver-mas .btn-adopciones {
      align-self: center; }
  footer .brand-footer .pow {
    display: none; }
  header .navbar .logo-nav img {
    width: 80px;
    margin-left: 15px; }
  header .navbar .pow {
    font-size: 1.25rem; }
  header .navbar ul {
    gap: 2.5rem;
    margin-right: 20px;
    margin-left: 90px; }
    header .navbar ul li a {
      font-size: .9375rem; } }

@media (max-width: 425px) {
  header {
    justify-content: center; }
    header .navbar {
      background-color: violet;
      flex-direction: column; }
      header .navbar .pow {
        padding: 0px;
        font-size: 35px; }
      header .navbar ul {
        gap: 3px;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        justify-self: center;
        padding: 20px; }
        header .navbar ul li {
          text-align: center; }
          header .navbar ul li a {
            text-decoration: none;
            font-size: 25px;
            font-weight: bold;
            justify-self: center; }
  footer {
    display: block;
    justify-content: center; }
    footer .brand-footer {
      justify-content: center; }
      footer .brand-footer .logo-footer {
        width: 100px; }
      footer .brand-footer .pow {
        display: none; }
    footer .bloque-info-contacto .info-contacto {
      justify-content: center; }
    footer .bloque-redes {
      padding: 15px;
      margin-bottom: 20px; }
      footer .bloque-redes .seguinos {
        font-size: 25px; }
  h1, h2, h3 {
    font-size: 30px;
    text-align: end;
    margin-right: .625rem; }
  h2 {
    /* font-weight: bold; */
    font-size: 28px;
    text-align: center;
    padding: 20px 0px 5px 0px; }
  h3 {
    font-size: 25px;
    text-align: center; }
  .parrafo-nosotros {
    font-size: 20px;
    text-align: center;
    padding: 15px;
    line-height: 1.25rem; }
  .grid-container-index {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20px 200px 300px 300px 40px ; */
    grid-template-rows: auto 220px auto auto auto;
    grid-template-areas: "header  " "presentacion" "contenedor-servicios" "contenedor-adopciones "        "footer "; }
    .grid-container-index .presentacion .textos-presentacion {
      margin-right: 1.25rem;
      display: flex;
      flex-direction: column;
      justify-items: end; }
      .grid-container-index .presentacion .textos-presentacion .parrafo-presentacion {
        font-size: .625rem; }
    .grid-container-index .contenedor-servicios .contenedor-cards {
      flex-direction: column;
      align-items: center;
      justify-items: center;
      padding-bottom: 1.25rem; }
      .grid-container-index .contenedor-servicios .contenedor-cards .card {
        width: 330px;
        height: 400px;
        margin: .9375rem; }
        .grid-container-index .contenedor-servicios .contenedor-cards .card .img-card {
          width: 270px; }
    .grid-container-index .contenedor-adopciones h3 {
      font-size: 1.25rem;
      text-align: center; }
    .grid-container-index .contenedor-adopciones .items-adopcion {
      flex-direction: column;
      align-items: center;
      justify-items: center;
      padding-bottom: 1.25rem; }
      .grid-container-index .contenedor-adopciones .items-adopcion .item .en-adopcion {
        width: 15.625rem;
        height: 15.625rem;
        border-radius: 150px; }
  .grid-container-nosotros {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20px 200px 300px 300px 40px ; */
    grid-template-rows: auto 200px auto auto auto;
    grid-template-areas: "header  " "presentacion-nosotros" "contenedor-compromiso" "contenedor-equipo"        "footer "; }
    .grid-container-nosotros .presentacion-nosotros {
      background-image: url("./../assets/dog-cat-prairie.jpg"); }
    .grid-container-nosotros .contenedor-compromiso .compromiso {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .grid-container-nosotros .contenedor-compromiso .compromiso .quality {
        width: 350px;
        height: 350px; }
    .grid-container-nosotros .contenedor-equipo .titulo-equipo {
      font-size: 1.875rem;
      text-align: center; }
    .grid-container-nosotros .contenedor-equipo .compromiso {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .grid-container-nosotros .contenedor-equipo .compromiso .foto-equipo {
        width: 280px;
        height: 300px;
        padding: 0px;
        margin-bottom: 1.875rem; }
  .grid-container-servicios {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 230px auto auto auto;
    grid-template-areas: "header  " "presentacion-servicios " "intro-servicios " "detalle-servicios " "footer "; }
    .grid-container-servicios .detalle-servicios {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .grid-container-servicios .detalle-servicios .card .card-body h3 {
        text-align: center; }
  .grid-container-adopciones {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20px 200px 300px 300px 40px ; */
    grid-template-rows: auto 200px auto auto auto;
    grid-template-areas: "header  " "presentacion-adopciones " "adopciones-ofrecidas "        "footer "; }
    .grid-container-adopciones .adopciones-ofrecidas .grid-galeria-adopciones {
      padding: 20px;
      width: 100%;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: "img-4 " "img-6 " "img-1 " "img-3 " "img-7 ";
      align-content: center;
      justify-content: center; }
  .grid-container-planes {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20px 200px 300px 300px 40px ; */
    grid-template-rows: auto 200px auto auto auto;
    grid-template-areas: "header  " "presentacion-planes " "intro-planes " "detalle-planes " "footer "; }
    .grid-container-planes .intro-planes h2 {
      font-size: 25px;
      padding-left: 1.875rem;
      padding-right: 30px; }
    .grid-container-planes .intro-planes .parrafo-nosotros {
      font-size: 18px;
      padding-left: 20px;
      padding-right: 20px; }
    .grid-container-planes .detalle-planes {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .grid-container-planes .detalle-planes .card {
        width: 320px;
        margin: 20px; }
        .grid-container-planes .detalle-planes .card .card-body h3 {
          text-align: center; }
    .grid-container-planes .img-planes {
      display: none; } }

@media (max-width: 320px) {
  header .navbar {
    background-color: aquamarine; }
    header .navbar .pow {
      font-size: 25px; }
    header .navbar ul {
      gap: 2px; }
      header .navbar ul li a {
        font-size: 20px; }
  h1, h2, h3 {
    font-size: 30px;
    text-align: end;
    margin-right: .625rem; }
  h2 {
    /* font-weight: bold; */
    font-size: 25px;
    text-align: center;
    padding: 20px 20px 0px 20px; }
  h3 {
    font-size: 25px;
    text-align: center; }
  footer {
    flex-direction: column;
    justify-content: center; }
    footer .bloque-info-contacto .info-contacto {
      justify-content: center;
      align-items: center; }
      footer .bloque-info-contacto .info-contacto .info {
        font-size: 15px; }
      footer .bloque-info-contacto .info-contacto .item-info {
        width: 20px;
        height: 20px; }
    footer .bloque-redes .seguinos {
      font-size: 20px; }
    footer .bloque-redes .redes .item-redes {
      width: 40px;
      height: 40px; }
  .grid-container-index {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20px 200px 300px 300px 40px ; */
    grid-template-rows: auto 220px auto auto auto;
    grid-template-areas: "header  " "presentacion" "contenedor-servicios" "contenedor-adopciones "        "footer "; }
    .grid-container-index .contenedor-servicios .contenedor-cards .card {
      width: 250px;
      height: 320px;
      margin: .625rem; }
      .grid-container-index .contenedor-servicios .contenedor-cards .card .img-card {
        width: 220px; }
    .grid-container-index .contenedor-adopciones h3 {
      font-size: 1.25rem;
      text-align: center; }
    .grid-container-index .contenedor-adopciones .items-adopcion {
      padding-bottom: 1.25rem; }
      .grid-container-index .contenedor-adopciones .items-adopcion .item .en-adopcion {
        width: 12.5rem;
        height: 12.5rem;
        border-radius: 150px; }
  .grid-container-nosotros .contenedor-compromiso .compromiso .parrafo-nosotros {
    font-size: 15px;
    padding-bottom: 0rem; }
  .grid-container-nosotros .contenedor-compromiso .compromiso .quality {
    width: 250px;
    height: 250px;
    padding: .3125rem; }
  .grid-container-nosotros .contenedor-equipo .titulo-equipo {
    font-size: 20px; }
  .grid-container-nosotros .contenedor-equipo .compromiso .parrafo-nosotros {
    font-size: 15px;
    text-align: center;
    padding: 30px; }
  .grid-container-nosotros .contenedor-equipo .compromiso .foto-equipo {
    width: 230px;
    height: 250px; }
  .grid-container-planes .intro-planes h2 {
    font-size: 1.25rem; }
  .grid-container-planes .intro-planes .parrafo-nosotros {
    font-size: .9375rem; }
  .grid-container-planes .detalle-planes .card {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px; }
    .grid-container-planes .detalle-planes .card .card-body .card-text {
      font-weight: bold;
      padding: 1.5625rem;
      font-size: .9375rem; } }
