@media (max-width: 320px)  {
    header {
        .navbar {           
            .pow {                
                font-size: 25px;
           }
           ul{ 
            gap: 2px;           
            li {
                a{                               
                    font-size: 20px; 
                  } 
                }   
           } 
        }
    } 
    h1{
        font-size:18px; 

    }
    
    h2 {
        font-size: 25px;
        text-align: center; 
        padding: 20px 20px 0px 20px; 
    }
    h3{
        font-size: 25px;
        text-align: center; 
    }
     .parrafo-nosotros{
                   font-size: .9375rem;
                   padding-left: 25px;
                   padding-right: 1.5625rem;
            } 


    footer {  
        flex-direction: column; 
        justify-content: center;       
        .bloque-info-contacto {           
            .info-contacto{   
                justify-content: center; 
                align-items: center;          
               .info {
                font-size: 15px;             
                }                
                .item-info{
                width: 20px;
                height: 20px;
                }          
            } 
        }    
        .bloque-redes {               
            .seguinos {                   
                font-size: 20px;
            }  
            .redes{                  
                    .item-redes{
                       width: 40px;
                       height: 40px;
                     }         
                }                
        } 
        
    }
    
    .grid-container-index {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 220px auto auto auto ;
        grid-template-areas:
            "header  "
            "presentacion"
            "contenedor-servicios"
            "contenedor-adopciones "       
            "footer ";  
            .presentacion {            
                .textos-presentacion{
                     padding-right: 10px;
                    padding-left: 18px;
                    .parrafo-presentacion {
                        font-size: 10px;
                        font-weight: bold;
                    }
                }
            }

           .contenedor-servicios {
              .contenedor-cards{
                 .card {
                    width: 250px;
                     height: 320px;  
                    margin: .625rem;
                                      
                    .img-card {
                        width: 220px;                  
                      }   
                 }
              }
           }
           .contenedor-adopciones{ 
            h3{
                font-size: 1.25rem;
                text-align: center;
            }          
            .items-adopcion{
                              padding-bottom: 1.25rem;
                  .item {
                      .en-adopcion {
                          width: 12.5rem;
                          height: 12.5rem;
                          border-radius: 150px ;
                      }
                  } 
            }
         }
            
    }
    .grid-container-nosotros {  
        .presentacion-nosotros {              
                .textos-presentacion {                                   
                      margin-right: 10px;
                  }             
    
        }
        
            .contenedor-compromiso {                
                .compromiso {
                    .parrafo-nosotros{
                        font-size:15px ;
                        padding-bottom: 0rem;
                    }
                    .quality{
                        width: 250px;
                        height: 250px;   
                        padding: .3125rem;           
                       }
                }
            } 
            .contenedor-equipo {
                .titulo-equipo{
                    font-size: 20px;                   
                }
                .compromiso {
                    .parrafo-nosotros {
                        font-size: 15px;
                        text-align: center;
                        padding: 30px;
                        
                    }
                    .foto-equipo {
                        width: 230px;
                        height: 250px;                       
                    }
                }         
            }           
    }
    .grid-container-planes {          
        .intro-planes {
           h2{
              font-size: 1.25rem;              
           }
           .parrafo-nosotros{
                  font-size: .9375rem;
                                 }
        }   
        .detalle-planes { 
            .card  {
                margin-top:20px;
                margin-bottom: 20px;
                 width: 250px;  
                 .card-body{
                    .card-text{
                        font-weight: bold;
                        padding: 1.5625rem;
                        font-size: .9375rem;
                    }
                   
                 } 
             }
            
        }
    
    }

    .grid-container-servicios { 
        .presentacion-servicios {              
            .textos-presentacion {                                   
                  margin-right: 20px;
              }             
  }
        .intro-servicios {
            h2{
               font-size: 1.25rem;              
            }

         }           
        .detalle-servicios { 
            .card  {
                margin-top:10px;
                margin-bottom: 10px;
                 width: 240px;  
                 height: 650px;
                
                    .card-title {
                        font-size: 1.25rem;
                    }
                    .card-text{
                        font-weight:normal;
                        padding: 15px 15px 5px 15px;
                        font-size: 18px;
                    }
                    .card-img-top{
                        width: 200px;
                        height:150px ;
                    }
                   
                 
             }
            
        }
    
    }
    .grid-container-adopciones {
            .presentacion-adopciones {
                .textos-presentacion{
                    margin-right: 5px;
                }
            }   
    }
    
}