
@media (max-width: 430px)  {


header {
    justify-content: center;
    .navbar { 
        flex-direction: column;
       justify-items: center;  
        .pow {
            padding: 0px;
            font-size: 35px;
       }
       .logo-nav {
        img{            
             margin-left: 0px;  
        }
    }
       ul{ 
        gap: 3px;
        flex-direction: column; 
        margin: 0px;
        padding: 0px;
        justify-self: center;
        padding: 20px; 
        li {
            text-align: center;
            a{
                text-decoration: none;                
                font-size: 25px;
                font-weight: bold; 
               justify-self: center;    
              } 
            }   
       } 
    }
  }
  footer {
    display: block;
    justify-content: center;
    .brand-footer{
        justify-content: center;
        .logo-footer {  
            width: 100px;                    
        }    
        .pow {
            display: none;
        }
    }
    .bloque-info-contacto{
        .info-contacto{  
                justify-content: center;  

            .item-info{
              width: 25px;
              height: 25px;
            }
             .info {
                font-size: 20px;                  
                padding-top: 10px;
                padding-left: 5px;
            }  
          
         }   
      }   
    .bloque-redes {    
        padding: 15px;
        margin-bottom: 20px; 
        // .seguinos { 
        //     display: ;                  
        //         font-size: 25px;
        // } 
        .redes{
            @include flex(row,space-evenly,center, none); 
            justify-items: center;   
                .item-redes{
                   width: 50px;
                   height: 50px;
                  // padding: 10px;
                 }         
            }
               
      } 
}
h1{
    font-size: 25px;
    
}
h2 {
    font-size: 28px;
    text-align: center; 
    padding: 20px 0px 5px 0px;
}
h3{
    font-size: 25px;
    text-align: center; 
}

.parrafo-nosotros {
    font-size: 20px;
    text-align:center;
    padding: 15px;
    line-height: 1.25rem;       
}
 .grid-container-index {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20px 200px 300px 300px 40px ; */
    grid-template-rows: auto 220px auto auto auto ;
    grid-template-areas:
        "header  "
        "presentacion"
        "contenedor-servicios"
        "contenedor-adopciones "       
        "footer ";  

        .presentacion {            
            .textos-presentacion{
                 padding-right: 20px;
                margin-right:0px;
                .parrafo-presentacion{
                    font-size: .625rem;
                }
            }
        }
        .contenedor-servicios {  

            .contenedor-cards{
                display: flex;
                width: 100%;
              flex-direction: column;
             align-items:center;
             justify-content: center;
              justify-items: center;              
              padding-bottom: 1.25rem;             
                .card{
                    width: 330px;
                     height: 350px;  
                    margin: .9375rem;
                                      
                    .img-card {
                        width: 270px;
                        padding: 10px 0px 30px 0px;                  
                      } 
                      .btn-servicios {   
                        width: 80px;
                        height: 50px;                       
                        a {                          
                            font-size: 25px;                           
                        }    
                    }         
                 }
              }                  
          } 
          .contenedor-adopciones{ 
            h3{
                font-size: 1.25rem;
                text-align: center;
            }          
            .items-adopcion{
               flex-direction: column;
               align-items:center;
               justify-items: center;
               padding-bottom: 1.25rem;
                  .item {
                      .en-adopcion {
                          width: 15.625rem;
                          height: 15.625rem;
                          border-radius: 150px ;
                      }
                  } 
            }
         }
}

.grid-container-nosotros {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20px 200px 300px 300px 40px ; */
    grid-template-rows: auto 200px auto auto auto ;
    grid-template-areas:
        "header  "
        "presentacion-nosotros"
        "contenedor-compromiso"
        "contenedor-equipo"       
        "footer ";  

        .presentacion-nosotros {
            background-image: url("./../assets/dog-cat-prairie.jpg") ;
        }
        
        .contenedor-compromiso {                
            .compromiso {
                display: flex;
                flex-direction: column;
                align-items: center; 
                justify-content: center; 
                .quality{
                    width: 350px;
                    height: 350px;         
                   }
            }
        } 
        .contenedor-equipo {
            .titulo-equipo{
                font-size: map-get($font-size, h3);
                text-align: center;
            }
            .compromiso {
                display: flex;
                flex-direction: column;
                align-items: center; 
                justify-content: center; 
                .foto-equipo {
                    width: 280px;
                    height: 300px;
                     padding: 0px;
                    margin-bottom: 1.875rem;
                   }
            }         
        }           
}
 
  .grid-container-servicios {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;    
    grid-template-rows: auto 230px auto auto auto ;
    grid-template-areas:
        "header  "
        "presentacion-servicios "
        "intro-servicios "
        "detalle-servicios "
        "footer ";

        .presentacion-servicios {              
                   .textos-presentacion {                                   
                         margin-right: 40px;
                     }             
         }

        .detalle-servicios {
            flex-direction: column;
            justify-content: center;
            align-items: center;           
            display: flex;
              .card{
                margin-top:20px;
                margin-bottom: 20px;
                width: 350px; 
                .card-body {
                    h3{
                        text-align: center;
                    }
                }
              }
        }
}

.grid-container-adopciones {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20px 200px 300px 300px 40px ; */
    grid-template-rows: auto 200px auto auto auto ;
    grid-template-areas:
        "header  "
        "presentacion-adopciones "
        "adopciones-ofrecidas "       
        "footer ";
        .presentacion-adopciones {
            .textos-presentacion{
                margin-right: 15px;
            }
        }
        .adopciones-ofrecidas{
            .grid-galeria-adopciones {           
                padding: 20px;
                width: 100%;           
                grid-template-columns: 100%;
                grid-template-rows: auto;
                grid-template-areas:           
                    "img-4 "
                    "img-6 "
                    "img-1 "
                    "img-3 "
                    "img-7 "
                    ;           
                   align-content: center;
                   justify-content: center;
               
            }
        }

}
        
.grid-container-planes {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20px 200px 300px 300px 40px ; */
    grid-template-rows: auto 200px auto auto auto ;
    grid-template-areas:
        "header  "
        "presentacion-planes "
        "intro-planes "
        "detalle-planes "
        "footer ";

        .intro-planes {
            h2{
               font-size: 25px;   
               padding-left: 1.875rem;
                padding-right:30px;
            }
            .parrafo-nosotros {
                font-size: 18px;
                padding-left: 20px;
                padding-right:20px;
            }
            
         }   
        .detalle-planes {
            flex-direction: column;
            justify-content: center;
            align-items: center;
               .card{
                width: 320px;
                margin: 20px;
                 .card-body {
                     h3{
                         text-align: center;
                     }
                 }
               }
             }

        .img-planes {
            display: none;
        }

}
}
