
@media (max-width: 425px)  {
header {
    justify-content: center;
    .navbar { 
        flex-direction: column;  
        background-color: coral;
        .pow {
            padding: 0px;
            font-size: 35px;
       }
       ul{ 
        gap: 3px;
        flex-direction: column; 
        margin: 0px;
        padding: 0px;
        justify-self: center;
        padding: 20px; 
        li {
            text-align: center;
            a{
                text-decoration: none;                
                font-size: 25px;
                font-weight: bold; 
               justify-self: center;    
              } 
            }   
       } 
    }
  }
  footer {
    display: block;
    justify-content: center;
    .brand-footer{
        justify-content: center;
        .logo-footer {  
            width: 100px;                    
        }    
        .pow {
            display: none;
        }
    }
    .bloque-info-contacto {
        .info-contacto{    
           justify-content: center;           
        } 
    }    
    .bloque-redes {    
        padding: 15px;
        margin-bottom: 20px; 
        .seguinos {                   
            font-size: 25px;
        }                  
      } 
}
h1{
    font-size: 30px;   
}
h2 {
    /* font-weight: bold; */
    font-size: 20px;
    text-align: center; 
    padding: 20px 0px 5px 0px;
}

.textos-presentacion {       
    margin-right: 30px;
}

.parrafo-nosotros {
    font-size: 20px;
    text-align:center;
    padding: 20px;
    line-height: 25px;        
}
.card  {
    margin: 30px;
     width: 320px;
      align-self: center; 
       .card-text  {
           font-size:20px;    
        }         
        .card-title  {
            font-size:25px;
        }
      
 }

 .grid-container-index {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20px 200px 300px 300px 40px ; */
    grid-template-rows: auto 200px auto auto auto ;
    grid-template-areas:
        "header  "
        "presentacion"
        "contenedor-servicios"
        "contenedor-adopciones "       
        "footer ";
       
}
 
  .grid-container-servicios {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20px 200px 300px 300px 40px ; */
    grid-template-rows: auto 200px auto auto auto ;
    grid-template-areas:
        "header  "
        "presentacion-servicios "
        "intro-servicios "
        "detalle-servicios "
        "footer ";

        .detalle-servicios {
            display: block;
            }
}

// .grid-container-planes {
//     width: 100%;
//     display: grid;
//     grid-template-columns: 100%;
//     /* grid-template-rows: 20px 200px 300px 300px 40px ; */
//     grid-template-rows: auto 200px auto auto auto ;
//     grid-template-areas:
//         "header  "
//         "presentacion-planes "
//         "intro-planes "
//         "detalle-planes "
//         "footer ";

//         .img-planes {
//             display: none;
//         }

// }

}