
@media (max-width: 425px)  {


header {
    justify-content: center;
    .navbar { 
        flex-direction: column;         
        .pow {
            padding: 0px;
            font-size: 35px;
       }
       ul{ 
        gap: 3px;
        flex-direction: column; 
        margin: 0px;
        padding: 0px;
        justify-self: center;
        padding: 20px; 
        li {
            text-align: center;
            a{
                text-decoration: none;                
                font-size: 25px;
                font-weight: bold; 
               justify-self: center;    
              } 
            }   
       } 
    }
  }
  footer {
    display: block;
    justify-content: center;
    .brand-footer{
        justify-content: center;
        .logo-footer {  
            width: 100px;                    
        }    
        .pow {
            display: none;
        }
    }
    .bloque-info-contacto {
        .info-contacto{    
           justify-content: center;           
        } 
    }    
    .bloque-redes {    
        padding: 15px;
        margin-bottom: 20px; 
        .seguinos {                   
            font-size: 25px;
        }                  
      } 
}
h1{
    font-size: 25px;
    text-align: end;
}
h2 {
    /* font-weight: bold; */
    font-size: 20px;
    text-align: center; 
    padding: 20px 0px 5px 0px;
}


.parrafo-nosotros {
    font-size: 20px;
    text-align:center;
    padding: 15px;
    line-height: 1.25rem;       
}
// .card  {
//     margin: 30px;
//      width: 320px;
//       align-self: center; 
//        .card-text  {
//            font-size:20px;    
//         }         
//         .card-title  {
//             font-size:25px;
//         }
      
//  }

 .grid-container-index {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20px 200px 300px 300px 40px ; */
    grid-template-rows: auto 220px auto auto auto ;
    grid-template-areas:
        "header  "
        "presentacion"
        "contenedor-servicios"
        "contenedor-adopciones "       
        "footer ";  

        .presentacion {            
            .textos-presentacion{
                margin-right: 1.25rem;
                display: flex;
                flex-direction: column;
                justify-items: end;
                .parrafo-presentacion{
                    font-size: .625rem;
                }
            }
        }
        .contenedor-servicios {  
            .contenedor-cards{
              flex-direction: column;
              align-items:center;
              justify-items: center;
              
              padding-bottom: 1.25rem;
             
                .card{
                    width: 330px;
                     height: 400px;  
                    margin: .9375rem;
                                      
                    .img-card {
                        width: 270px;
                        // padding: 5px 0px 35px 0px;                  
                      }          
                 }
              }                  
          } 
          .contenedor-adopciones{ 
            h3{
                font-size: 1.25rem;
                text-align: center;
            }          
            .items-adopcion{
               flex-direction: column;
               align-items:center;
               justify-items: center;
               padding-bottom: 1.25rem;
                  .item {
                      .en-adopcion {
                          width: 18.75rem;
                          height: 18.75rem;
                          border-radius: 150px ;
                      }
                  } 
            }
         }
}

.grid-container-nosotros {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20px 200px 300px 300px 40px ; */
    grid-template-rows: auto 200px auto auto auto ;
    grid-template-areas:
        "header  "
        "presentacion-nosotros"
        "contenedor-compromiso"
        "contenedor-equipo"       
        "footer ";   
}
 
  .grid-container-servicios {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20px 200px 300px 300px 40px ; */
    grid-template-rows: auto 230px auto auto auto ;
    grid-template-areas:
        "header  "
        "presentacion-servicios "
        "intro-servicios "
        "detalle-servicios "
        "footer ";

        .detalle-servicios {
           flex-direction: column;
           justify-content: center;
           align-items: center;
              .card{
                .card-body {
                    h3{
                        text-align: center;
                    }
                }
              }
            }
}

.grid-container-adopciones {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20px 200px 300px 300px 40px ; */
    grid-template-rows: auto 200px auto auto auto ;
    grid-template-areas:
        "header  "
        "presentacion-adopciones "
        "adopciones-ofrecidas "       
        "footer ";

       

}

.grid-container-planes {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20px 200px 300px 300px 40px ; */
    grid-template-rows: auto 200px auto auto auto ;
    grid-template-areas:
        "header  "
        "presentacion-planes "
        "intro-planes "
        "detalle-planes "
        "footer ";

        .img-planes {
            display: none;
        }

}
}
