@media (max-width: 1024px)  {
    .navbar {
        ul{        
           gap: 50px;        
           padding-right: 40px; 
           padding-left: 140px;   
        }
        .logo-nav img{      
            width: 80px;
            margin-left: 15px;  
            padding: 0px;         
        } 
    } 
    .pow {
    padding: 0px;
    }
    .detalle-planes .card{
        width:220px ;
    }
     
}


// @media (max-width: 1024px) {
//     .navbar{
//         ul{        
//         gap: 50px;        
//         padding-right: 40px; 
//         padding-left: 140px; } 
        
//         .logo-nav img{      
//             width: 80px;
//             margin-left: 15px;  
//             padding: 0px;         
//         }         
//         .pow {
//         padding: 0px;
//         }
//     }   
// }