@media (max-width: 820px)  {
    header {
        .navbar {
            background-color:crimson;
        }
    } 
    .grid-container-servicios {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows:70px 290px 250px 560px  180px ;
        grid-template-areas:
            "header header header "
            "presentacion-servicios presentacion-servicios presentacion-servicios"
            "intro-servicios intro-servicios img-servicios"
            "detalle-servicios detalle-servicios  detalle-servicios "
            "footer footer footer ";
    }
    .grid-container-index { 
        grid-template-rows:90px 350px 500px 300px 250px;
        .contenedor-servicios {       
          .contenedor-cards{ 
            // padding-left: .9375rem;
            // padding-right: .9375rem;  
             padding-bottom:5px ;       
              .card{
                  width: 220px;
                   height: 350px;                       
                  .img-card {
                      width: 200px;
                      padding: 5px 0px 35px 0px;                  
                    }          
               }
            }                  
        }
        .contenedor-adopciones{            
            .items-adopcion{
            //    @include flex(row,space-evenly,center, none);  
                  .item {
                      .en-adopcion {
                          width: 9.375rem;
                          height: 9.375rem;
                          border-radius: 150px ;
                      }
                      .btn-ver-mas{
                        .btn-adopciones {
                            align-self: center;
                        }                        
                      }
                  } 
            }
         }
    }  
  
    footer{
        .brand-footer{
            .pow {
                display: none;
            }
        }       
    }
    header {
        .navbar {           
            .logo-nav {
                img{
                    width: 80px;
                     margin-left: 15px;  
                }
            }
            .pow {               
                font-size: 1.25rem;
            }
            ul{                            
                gap: 2.5rem;
                margin-right:20px; 
                margin-left: 90px;
                li {
                    a{
                       font-size: .9375rem;
                }
            }
        }
    }
    }
}






  


                    


