
// .grid-container-index {    
//     @include grid( repeat(3, 1fr), 80px 450px 400px 700px  250px , none, none,  
//         "header header header "
//         "presentacion presentacion presentacion"
//         "contenedor-servicios contenedor-servicios contenedor-servicios "
//         "contenedor-adopciones contenedor-adopciones  contenedor-adopciones "
//         "footer footer footer ");

//         .presentacion {
//             background-image: url("../../assets/cocker.jpg") ;
//             grid-area: presentacion-servicios ;
//             background-size:cover;
//             background-repeat: no-repeat;
//             @include flex(column,center,end, none);   
//                   .textos-presentacion {
//                         @include flex(column,center,end, none);                  
//                         margin-right: 80px;
//                     }
            
//         }
//         .contenedor-servicios {
                       
//                           grid-area: contenedor-servicios;
//                           background-color: blueviolet;            
//                       }
//          .contenedor-adopciones{
                      
                       
                           
//                             grid-area: contenedor-adopciones ;
                            
                        
                       
//                         background-color: green;             
//          }
       
        
// }




.grid-container-index { 
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows:100px 400px 600px 600px  200px ;
    // grid-template-areas:
    //     "header header header "
    //     "presentacion presentacion presentacion"
    //     "contenedor-servicios contenedor-servicios contenedor-servicios "
    //     "contenedor-adopciones contenedor-adopciones  contenedor-adopciones "
    //     "footer footer footer ";
    // width: 100%;
    @include grid (1fr 1fr 1fr,100px 400px 600px 600px  200px, none, none,"header header header" "presentacion presentacion presentacion" "contenedor-servicios contenedor-servicios contenedor-servicios"
    "contenedor-adopciones contenedor-adopciones  contenedor-adopciones" "footer footer footer" );  
    
    //    main {

        
          .presentacion{ 
               grid-area: presentacion;            
               background-image: url("./../assets/cocker.jpg") ;  
               background-size:cover;    
               background-repeat: no-repeat;   
          }
          .contenedor-servicios {
              grid-area: contenedor-servicios;
              background-color: map-get($colors, fondoDuraznoClaro);           
          }
          .contenedor-adopciones{
              grid-area: contenedor-adopciones;
              background-color: map-get($colors, fondoCrema);      
           }

        // }
   
}     


