.grid-container-nosotros {    
    @include grid( repeat(3, 1fr),80px 450px 450px 500px  250px , none, none,  
        "header header header "
        "presentacion-nosotros presentacion-nosotros presentacion-nosotros"
        "contenedor-compromiso contenedor-compromiso contenedor-compromiso"
        "contenedor-equipo contenedor-equipo  contenedor-equipo "
        "footer footer footer ");

        .presentacion-nosotros {
            background-image: url("./../assets/gatitos.jpg") ;
            grid-area: presentacion-nosotros ;
            background-size:cover;
            background-repeat: no-repeat;          
            @include flex(column,center,end, none);   
                  .textos-presentacion {
                        @include flex(column,none,center, none);                  
                        margin-right: 80px;
                    }
            
        }
        .contenedor-compromiso {
            grid-area: contenedor-compromiso ;
            background-color: map-get($colors, fondoAmarillo);            
            .compromiso {
                display: flex;
                flex-direction: row;
                align-items: center; 
                justify-content: center; 
                .quality{
                    width: 300px;
                    height: 300px; 
                    padding: 15px;             
                   }
            }
        }       
        .contenedor-equipo {
            background-color: map-get($colors, fondoDurazno); 
            grid-area: contenedor-equipo ;
            display: flex;
            flex-direction: column;
            .titulo-equipo {
                 text-align: left; 
                 padding: 40px 0px 0px 50px;
                //   padding-left: 50px; 
                //   padding-top: 40px;   
            }
            .compromiso {
                display: flex;
                flex-direction: row;
                align-items: center;  
                .foto-equipo {
                    width: 400px;
                    height: 400px;
                    padding-right: 30px; 
                    padding-bottom: 30px;   
                   }
            }         
        }     
}
