.grid-container-index { 
    @include grid (1fr 1fr 1fr,90px 450px 600px 450px 250px, none, none,"header header header" 
    "presentacion presentacion presentacion"
     "contenedor-servicios contenedor-servicios contenedor-servicios"
    "contenedor-adopciones contenedor-adopciones  contenedor-adopciones"
     "footer footer footer" );  
    
          .presentacion{ 
               grid-area: presentacion;            
               background-image: url("./../assets/cocker.jpg") ;  
               background-size:cover;    
               background-repeat: no-repeat;  
               @include flex(column,center,end, none);   
               .textos-presentacion {
                display: flex;
                flex-direction: column;
                align-items: left; 
                justify-content: right;      
                margin-right: 80px;
                     .parrafo-presentacion{   
                    font-size: 1.875rem; 
                    }
            } 
          }
          .contenedor-servicios {
              grid-area: contenedor-servicios;
              background-color: map-get($colors, fondoDuraznoClaro); 
              
                .contenedor-cards{   
                    @include flex(row,space-evenly,none,none); 
                    .card{
                        width: 350px;
                        height: 400px;                       
                        background-color: map-get($colors, fondoCrema);
                        text-align: center;
                        border: 1px solid rgba(0, 0, 0, 0.278);
                        border-radius: 1.25rem;
                        overflow: hidden; 
                        @include flex(column,none,center, none); 
                        .img-card {
                            width: 300px;
                            padding: 5px 0px 35px 0px;                  
                        }          
                    }
                }              
                    
          }
          .contenedor-adopciones{
              grid-area: contenedor-adopciones;
              background-color: map-get($colors, fondoCrema);  
              .items-adopcion{
                 @include flex(row,space-evenly,center, none);  
                    .item {
                        .en-adopcion {
                            width: 15.625rem;
                            height: 15.625rem;
                            border-radius: 150px ;
                        }
                    } 
              }
           }
}     


