
.grid-container-index {
    @include grid (repeat(3, 1fr), 80px 450px 400px 700px  250px , none, none,
    "header header header "
    "presentacion presentacion presentacion"
    "contenedor-servicios contenedor-servicios contenedor-servicios"
    "contenedor-adopciones contenedor-adopciones  contenedor-adopciones"
    "footer footer footer ");  
    main {
        .presentacion{
            background-image: url("../../assets/cocker.jpg") ;              
            grid-area: presentacion;
            background-size:cover;    
            background-repeat: no-repeat;
            @include flex(column,center,end, none);              
        }       

    } 
}

