.grid-container-planes {   
    @include grid (repeat(3, 1fr),80px 450px 400px auto 250px , none, none,
    "header header header "
    "presentacion-planes presentacion-planes presentacion-planes"
    "intro-planes intro-planes img-planes"
    "detalle-planes detalle-planes  detalle-planes "
    "footer footer footer "); 
    
    .presentacion-planes {
        background-image: url("./../assets/peluqueria.jpg") ;
        grid-area: presentacion-planes ;
        background-size:cover;
        background-repeat: no-repeat;
        @include flex(column,center,end, none);   
        // @include flex(column,center,end, none); 
        .textos-presentacion {           
                @include flex(column,none,center, none);                  
                margin-right: 80px;
        }  
    }
    .intro-planes {
        background-color:map-get($colors, fondoCrema); 
        grid-area: intro-planes ;
        // align-items: center;
        // justify-items: center;
    }   
    .img-planes {
        width: 100%;
        height: 100%;   
        grid-area:img-planes ;
    }
    .detalle-planes {
        background-color: map-get($colors, fondoDurazno); 
        grid-area: detalle-planes ;
         @include flex(row,space-evenly,none, none); 
        // width: 100%;  
        .card  {
            margin-top:20px;
            margin-bottom: 20px;
             width: 300px;  
             .card-body{
                text-align: center;
                background-color: #F4DFB6;
                .card-text{
                    font-weight: bold;
                    // padding: 1.5625rem;  
                    padding: 15px 10px 10px 10px;                 
                    font-size: 1.25rem;
                }
                div {
                    .img-star {
                        width: 40px;
                        height: 40px;
                    }

                }

             } 
         }
        
    }

}