.btn-adopciones {
    border-radius: 1.25rem;
    width: 120px;
    height: 50px;
    background-color: #F3B664; 
    display: inline; 
         a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: bold;
        }
    }

.btn-servicios {    
    border-radius: 1.25rem;
    width: 140px;
    height: 60px;
   
    background-color: #F3B664;      
    align-self: center;
       
    a {
        text-decoration: none;
        color: black;
        font-size: 25px;
        font-weight: bold;
    }    
}

